<h2>Work History</h2>
<br />

<p>
  <span class="job-title" (click)="lookUp('Software Engineer')"
    >Software Engineer</span>
</p>
<p>
  <span class="job-title" (click)="lookUp('Software Engineer')"
    >Software Development Associate</span>
</p>
<p>
  <span class="job-title" (click)="lookUp('Software Engineer')"
    >Web Development</span>
</p>

<!-- <p>Software Engineer</p>
<p>Software Development Associate</p>
<p>Web Development</p> -->

<!-- contain the job titles loaded in from a service file
each job name should b a link to a correspondin "job-detail page" -->

<!-- link to click for Software Engineer
link to click for Software Development Associate
link to clik for Web Development Intern -->

<!-- should be accessible via "/jobs"
should contain a list of jobs (just the job titles)
 loaded in from a service file (you can use sample/fake data)
each job name should be a link to a corresponding job-detail page -->
