
<!-- should be accessible via "/about"
should contain a brief statement about yourself 
and what your programming experience has been like 
so far (or you can use placeholder text)
should include a section with the list of technologies you have worked with -->
<h2>About</h2>

<div>Technically-sound Software Engineer effective in analyzing relevant information
and guiding product cycle from conception to completion. Manages design
effort and guides installation process for on-schedule product launches.
Consults with internal and external clientele and employs additional system
resources to review and enhance configuration for optimal customer
satisfaction.</div>

<h3>Technological Expertise</h3>

<li>Web-based software engineering</li>
 <li>Database programming</li>
 <li>Virtualization technologies</li>  
 <li>Code reviews</li>  
 <li>Software applications</li>  
 <li> Database management software</li>  
 <li>Algorithm implementation</li>  
 <li>Engineering standards</li>  
    

